@keyframes playAnimation {
    0% {
        opacity: 0;
        transform: translateY(0);

    }

    100% {
        opacity: 1;
        transform: translateY(-5px);

    }
}

.card:hover .playBox {
    animation: playAnimation 0.2s linear forwards;
}

/* Custom Dark Scrollbar */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #1e1e1e;
    /* Dark background for the track */
    border-radius: 10px;
    /* Rounded corners */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444;
    /* Dark color for the scrollbar handle */
    border-radius: 10px;
    /* Rounded corners */
    border: 3px solid #1e1e1e;
    /* Adds a border to the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Lighter color when hovered */
}

@keyframes waveAnimation {
    0%{
        height: 15px;
    }
    50%{
        height: 23px;
    }
    100%{
        height: 15px;
    }
}

.active{
    animation: waveAnimation 1s ease-in-out infinite ;
}

.playBar .playBarLeft .waves .wave2 {
    animation-delay: 0.2s;
}
.playBar .playBarLeft .waves .wave3 {
    animation-delay: 0.4s;
}

.popularSongsCards{
    scroll-behavior: smooth;
}

.popularSongsCards::-webkit-scrollbar{
    display: none;
}

.popularArtistsCards{
    scroll-behavior: smooth;
}

.popularArtistsCards::-webkit-scrollbar{
    display: none;
}

/* Initially collapsed */
.library-collapsed {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }
  
  /* Expanded state */
  .library-expanded {
    max-height: 65vh; /* adjust based on your content */
    opacity: 1;
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }
  